.bg-red{
	background-color:#dc3545;
	color:white;
}

.bg-yellow{
	background-color:yellow;
	color:white;
}

.bg-green{
	background-color:green;
	color:white;
}

.form-bottom-lowpadding{
	padding: 15px 15px 20px 15px !important;
}

#message_login{
	margin-top:15px !important;
	margin-bottom:-5px !important;
}

#message_register{
	margin-top:14px !important;
	margin-bottom:-35px !important;
}

.hovered:hover{
	background: #d0d0d0 !important;
	cursor:pointer !important;
}