<!-- requried-jsfiles-for owl -->
<!-- <link href="css/owl.carousel.css" rel="stylesheet">
<script src="js/owl.carousel.js"></script>
    <script>
$(document).ready(function() {
  $("#owl-demo").owlCarousel({
    items : 1,
    lazyLoad : true,
    autoPlay : true,
    navigation : false,
    navigationText :  false,
    pagination : true,
  });
});
</script> -->
 <!-- //requried-jsfiles-for owl -->

<div class="footer-section">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid">
				<h4>Contactenos</h4>
				<ul>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Recepción: (0351) 4257777</li>
<!-- 					<li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Móvil : 0200-123-4567</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> <a href="#"><a href="mailto:info@example.com">info@example.com</a></a></li>
					<li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> Fax : 0091-789-456100</li> -->
				</ul>
			</div>
			<!-- <div class="col-md-3 footer-grid">
				<h4>Tipos de Habitaciones</h4>
				<ul>
					<li>Simple</li>
					<li>Superior</li>
					<li>Deluxe</li>
					<li>Empresaria</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>Nuestros Servicios </h4>
				<ul>
					<li>Servicios a la habitación</li>
					<li>Internet Wifi Gratis</li>
					<li>Televisión (50 canales)</li>
					<li>Mascotas permitidas</li>
					<li>Sauna</li>
				</ul>
			</div> -->
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="copy-section">
	<div class="container">
		<div class="footer-top">
			<p>&copy; 2018 Hotel. Todos los derechos reservados | Por <a target="_blank" href="https://www.linkedin.com/in/santiago-pujol-8798a5123/">Santiago Pujol</a></p>
		</div>
		<div class="social-icons">
			<a href="#"><i class="icon"></i></a>
			<a href="#"><i class="icon1"></i></a>
			<a href="#"><i class="icon2"></i></a>
			<a href="#"><i class="icon3"></i></a>
		</div>
	</div>
</div>