<!-- 	<div class="banner">	
	</div> -->
    <div class="header">
		<div class="container">
			<div class="header-menu">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <div class="navbar-brand logo">
								<h1><a href="principal.html"><span>Hotel</span> El Virrey</a></h1>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav menu">
							<li id="menu-inicio" >
								<a href="principal.html" data-hover="Inicio">
									<i class="glyphicon glyphicon-th menu" aria-hidden="true"></i>
									Inicio 
								</a>
							</li>
							<!-- <li><a href="about.html" data-hover="About">About</a></li>
							<li><a data-hover="Restaurant" href="restaurant.html">Restaurant</a></li>
							<li><a data-hover="Gallery" href="gallery.html">Gallery</a></li>
							<li><a data-hover="Rooms" href="rooms.html">Rooms</a></li>
							<li><a  href="codes.html" data-hover="codes">Codes</a></li>
							<li><a data-hover="Contact" href="contact.html">Contact</a></li>
							-->
<!-- 							<li id="menu-ultimas_ofertas">
								<a href="ultimas_ofertas.html" data-hover="Últimas Ofertas">
									<i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
									Últimas Ofertas
								</a>
							</li>
							<li id="menu-habitaciones">
								<a data-hover="Habitaciones" href="habitaciones.html">
								<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
									Habitaciones
								</a>
							</li> -->
							<li id="menu-reservar">
								<a data-hover="Reservar" href="reservar.html">
								<i class="glyphicon glyphicon-check" aria-hidden="true"></i>
									Reservar
								</a>
							</li>
							<li id="menu-reservar2">
								<a data-hover="Reservar" href="reservar2.html">
								<i class="glyphicon glyphicon-check" aria-hidden="true"></i>
									Reservar Nuevo
								</a>
							</li>
							<li id="menu-reservar3">
								<a data-hover="Reservar" href="reservar3.html">
								<i class="glyphicon glyphicon-check" aria-hidden="true"></i>
									Reservar Nuevo3
								</a>
							</li>
							<li id="menu-reservar_otra">
								<a data-hover="Reservar Otra" href="reservar.html" onclick="
								localStorage.setItem('para_otra_persona', true)">
								<i class="glyphicon glyphicon-check" aria-hidden="true" ></i>
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
									Reservar a Otra Persona
								</a>
							</li>
							<li id="menu-reservas">
								<a href="reservas.html" data-hover="Reservas Realizadas">
									<i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>
									Reservas Realizadas
								</a>
							</li>
							<!-- SOLO MUESTRA PARA TIPO DE USUARIO 1 -->
							<li id="menu-admin-clientes">
							</li>
							<li id="menu-admin-cuentas">
							</li>
							<!-- FIN SOLO MUESTRA PARA TIPO DE USUARIO 1 -->
							<li>
								<a href="#" data-hover="Cerrar Sesión" onclick="cerrarSesion();">
									<i class="glyphicon glyphicon-off" aria-hidden="true"></i>
									Cerrar Sesión
								</a>
							</li>
						  </ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			<div class="clearfix"></div>
			</div>	
		</div> 
	</div>
	<!---header-->	
	<script src="js/jquery.min.js"></script>
	<script src="scripts/menu_admin.js"> </script>